<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Materia - Admin Template">
	<meta name="keywords" content="materia, webapp, admin, dashboard, template, ui">
	<meta name="author" content="solutionportal">
	<!-- <base href="/"> -->

	<title>KSB</title>
	

{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'images/ksb_logo.png' %}">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'styles/plugins/waves.css' %}">
<link rel="stylesheet" href="{% static 'styles/plugins/perfect-scrollbar.css' %}">

<!-- CSS Stylesheets -->
<link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'styles/main.min.css' %}">






<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
 	<link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300' rel='stylesheet' type='text/css'>

	<!-- Match Media polyfill for IE9 -->
	<!--[if IE 9]> <script src="scripts/ie/matchMedia.js"></script>  <![endif]--> 

	
</head>
<body id="app" class="app off-canvas">
	
	<!-- header -->
	{% include "includes/header.html" %}

	<!-- #end header -->

	<!-- main-container -->
	<div class="main-container clearfix">
		<!-- main-navigation -->
		{% include "includes/side_navbar.html" %} 
		
		<!-- #end main-navigation -->

		<div class="content-container fixedHeader nav-expand">
		<!-- Data Table -->
		<div class="col-md-11">
			<div class="panel panel-lined table-responsive panel-hovered mb20 data-table" style="padding-bottom: 20px">
				<div class="panel-heading">Bills List</div>
				<div class="panel-body">
					<div class="text-center" >
						{% include "includes/errors.html" %}

					</div>
					<div class="small text-bold left mt5">
						Show&nbsp;
						<select class="lengthSelect">
							<option value="5">5</option>
							<option value="10" selected>10</option>
							<option value="20">20</option>
							<option value="50">50</option>
						</select> 
						&nbsp;entries
					</div>

					<form class="form-horizontal right col-lg-4" action="javascript:;">
						<input type="text" class="form-control input-sm searchInput" placeholder="Type keyword">
					</form>
				</div>
										<!-- data table -->
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													
													<th>
													    Vehicle Id
														<div class="th">
															<i class="fa fa-caret-up icon-up"></i>
															<i class="fa fa-caret-down icon-down"></i>
														</div>
													</th>
													
													<th>
														Registration Number
														<div class="th">
															<i class="fa fa-caret-up icon-up"></i>
															<i class="fa fa-caret-down icon-down"></i>
														</div>
													</th>

													<th>
														Action
														<div class="th">
															<i class="fa fa-caret-up icon-up"></i>
															<i class="fa fa-caret-down icon-down"></i>
														</div>
													</th>
													

												</tr>
											</thead>
											<tbody>

								

												<!-- data initialize via script -->
											</tbody>
										</table>
										<!-- #end data table -->
			
		</div>
		</div>

		<!-- content-here -->
		<div class="content-container" id="content">
			<!-- dashboard page -->
			<div class="page page-dashboard">

				<div class="page-wrap">


					

				</div> <!-- #end page-wrap -->
			</div>
			<!-- #end dashboard page -->
		</div>

		
	</div> <!-- #end main-container -->
	

	<!-- theme settings -->
	<div class="site-settings clearfix hidden-xs" >
		<div class="settings clearfix">
			<div class="trigger ion ion-settings left"></div>
			<div class="wrapper left">
				<ul class="list-unstyled other-settings">
					<li class="clearfix mb10">
						<div class="left small">Nav Horizontal</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox" id="navHorizontal"> 
								<span>&nbsp;</span> 
							</label>
						</div>
						
						
					</li>
					<li class="clearfix mb10">
						<div class="left small">Fixed Header</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox"  id="fixedHeader"> 
								<span>&nbsp;</span> 
							</label>
						</div>
					</li>
					<li class="clearfix mb10">
						<div class="left small">Nav Full</div>
						<div class="md-switch right">
							<label>
								<input type="checkbox"  id="navFull"> 
								<span>&nbsp;</span> 
							</label>
						</div>
					</li>
				</ul>
				<hr/>
				<ul class="themes list-unstyled" id="themeColor">
					<li data-theme="theme-zero" class="active"></li>
					<li data-theme="theme-one"></li>
					<li data-theme="theme-two"></li>
					<li data-theme="theme-three"></li>
					<li data-theme="theme-four"></li>
					<li data-theme="theme-five"></li>
					<li data-theme="theme-six"></li>
					<li data-theme="theme-seven"></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- #end theme settings -->


	

	<!-- Dev only -->
	<!-- Vendors -->
	
	{% load static %}


	
<script src="{% static 'scripts/vendors.js' %}"></script>


<script src="{% static 'scripts/plugins/screenfull.js' %}"></script>
<script src="{% static 'scripts/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'scripts/plugins/waves.min.js' %}"></script>
<script src="{% static 'scripts/plugins/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'scripts/app.js' %}"></script>
{% comment %} <script src="{% static 'scripts/tables.init.js' %}"></script> {% endcomment %}

<script>
	$(function () {
		"use strict";
	
		function toggleBasicTableFns() {
			var $btable = $(".basic-table");
			var btns = [".btable-bordered", ".btable-striped", ".btable-condensed", ".btable-hover"];
	
			btns.forEach(function (btn) {
				$btable.find(btn).on("click touchstart", function (e) {
					var tableClass = $(this).data("table-class");
					e.preventDefault();
					$(this).toggleClass("active");
					$btable.find("table").toggleClass(tableClass);
				});
			});
		}
	
		function initDataTable() {
			var $dataTable = $(".data-table");
			var $table = $dataTable.find("table");
	
			var datas = [
				{% for item in list_vehicle %}
				{ 
					Vehicle_Id: "{{ item.Vehicle_Id|escapejs }}", 
					Vehicle_Registration_No: "{{ item.Vehicle_Registration_No|escapejs }}", 
					action: `
							<div class="d-flex flex-wrap gap-2 justify-content-center" style="min-width: 100px;">
								<a href="/edit_vehicle/{{ item.Vehicle_Id }}" class="flex-fill">
									<button type="button" class="btn btn-warning btn-sm w-100">EDIT</button>
								</a>
								<a href="/delete_vehicle/{{ item.Vehicle_Id }}" class="flex-fill" onclick="return confirm('Are you sure?');">
									<button type="button" class="btn btn-danger btn-sm w-100">DELETE</button>
								</a>
							</div>` 
				}{% if not loop.last %},{% endif %}
				{% endfor %}
			];
	
			var table = $table.DataTable({
				data: datas,
				columns: [
					{ data: "Vehicle_Id" },
					{ data: "Vehicle_Registration_No" },
					{ data: "action" },
					
				],
				searching: true,
				dom: "rtip",
				pageLength: 10
			});
	
			$dataTable.find(".searchInput").on("keyup", function () {
				table.search(this.value).draw();
			});
	
			$dataTable.find(".lengthSelect").on("change", function () {
				table.page.len(this.value).draw();
			});
	
			$dataTable.find(".dataTables_info").css({
				"margin-left": "20px",
				"font-size": "12px"
			});
	
			// Confirmation alert before deleting
			$(document).on("click", ".del-btn", function (e) {
				e.preventDefault(); // Prevent default navigation
				var deleteUrl = $(this).attr("href");
				if (confirm("Are you sure you want to delete this Item?")) {
					window.location.href = deleteUrl; // Proceed with deletion
				}
			});
		}
	
		function _init() {
			toggleBasicTableFns();
			initDataTable();
		}
	
		_init();
	});
	

</script>
	

</body>
</html>